@page "{handler?}"
@model ManagementRazorPage.Pages.CandidatePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>



<form>
    <div class="form-group">
        <label  class="control-label"></label>
        <input name="name" value="@Model.name"  class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <input name="birthday" value="@Model.birthday" type="datetime-local"  class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Posting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CandidateProfile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posting.PostingId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CandidateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CandidateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CandidateId">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>

<div class="container">
    @if (Model.totalPage > 0){
        <ul class="pagination justify-content-lg-center">
            @for (int pg = 1; pg <= Model.totalPage; pg++){
                <li class="page-item @(pg == Model.page ? "active" :"")">
                    <a class="page-link" asp-page="Index" asp-route-name="@Model.name" asp-route-pg=@pg asp-route-birthday=@Model.birthday>@pg</a>
                </li>
            }
        </ul>
    }
</div>
